server:
  port: 8084

spring:
  application:
    name: auth-service
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

keycloak:
  url: ${KEYCLOAK_URL:http://localhost:8080}
  realm: ${KEYCLOAK_REALM:microservices-realm}
  client-id: ${KEYCLOAK_CLIENT_ID:microservices-client}
  admin:
    username: ${KEYCLOAK_ADMIN_USERNAME:admin}
    password: ${KEYCLOAK_ADMIN_PASSWORD:admin}
  jwks-uri: ${KEYCLOAK_JWKS_URI:http://localhost:8080/realms/microservices-realm/protocol/openid-connect/certs}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    com.microservices: DEBUG
    org.springframework.web: INFO

